:root {
    --primery: #D8EFD3;
    --second: #95D2B3;
    --dark-cyan: #55AD9B;
    --light: #F1F8E8;
    --dark: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark-cyan);
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: var(--light);
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px 50px;
    border-radius: 20px;
}

form > h1 {
    color: var(--light);
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
}

form > label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--light);
}

form > input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #3d3e40;
    color: aliceblue;
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px #3d3e40, 0px 0px 20px #3d3e40;
}

form > button {
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: #3d3e40;
    color: aliceblue;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px #3d3e40, 0px 0px 20px #3d3e40;
}

form > button:hover {
    box-shadow: 0px 0px 20px #3d3e40, 0px 0px 40px #3d3e40;
}

#error {
    color: #FF0000;
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

    @media screen and (max-width: 375px){
        .container {
            padding: 10px;
            margin: auto; /* Center the container horizontally */
        }
    
        form {
            padding: 0;
            box-shadow: none; 
        
        }
    
        form > h1 {
            font-size: 24px;
            padding: 15px;
        }
    
        form > label {
            font-size: 16px;
        }
    
        form > input, form > button {
            padding: 10px;
            font-size: 16px;
        }
    
        form > button {
            margin-top: 15px;
        }
    }
    
